<div class='col-md-6'>
	<h2>Edit Trait</h2>

	<%= render('layouts/errors', :object => @trait) %>
	
	<form action="/traits/<%= @trait.id %>" method="post">
		<input name="_method" type="hidden" value="patch">
		<%= render('form') %>
	  <button class="btn btn-default">Update Trait</button>
		<a href="/traits/<%= @trait.id %>" data-confirm="You sure?" data-method="delete" rel="nofollow" class="btn btn-danger">Delete</a>
	</form>
</div>
