<h1> Four Paws </h1>
<h2>Animals Traits</h2>
<p><strong>All Traits</strong></p>

<ul>
	<% @traits.each do |trait| %>
		<li><a href="/traits/<%= trait.id %>"><%= trait.name %></a></li>
		<% end %>
</ul>

<p><strong>Add a new trait</strong><p>
	<%= render('layouts/errors', :object => @trait)%>
	<form action = "/traits" method="post">
   	<%= render('form') %>
    <button>+</button>
  </form>

