<h1><a href="/animals/"> Four Paws </a></h1>

<h2>All Traits</h2>

<ul>
	<% @traits.each do |trait| %>
		<li><a href="/traits/<%= trait.id %>"><%= trait.name %></a></li>
		<% end %>
</ul>

<p><strong>Add a new trait</strong><p>
	<%= render('layouts/errors', :object => @trait)%>
	<form action = "/traits" method="post">
   	<%= render('form') %>
    <button>+</button>
  </form>

