<h2>All Traits</h2>

<ul>
	<% Trait.all.each do |trait| %>
		<li><a href="/traits/<%= trait.id %>"><%= trait.name.capitalize %></a></li>
	<% end %>
</ul>
<div class='col-md-6'>
	<h4>Add a new trait</h4>
		<%= render('layouts/errors', :object => @trait)%>
		<form action = "/traits" method="post">
	   	<%= render('form') %>
	   	<button class="btn btn-default">Add Trait</button>
	  </form>
</div>	  

<footer id="new-animal">
</footer>