<p>Welcome to our shelter; we have lots of pets that are ready to join your family.</p>
<h3>Our Animals</h3>

<dl>
	<% @animals.each do |animal| %>
		<dt><a href ="/animals/<%= animal.id %>"><%= animal.name %></a></dt>
	<% end %>
</dl>

<p>Come visit us today!</p>

<footer>
	<a href="/animals/new" class="btn btn-default">Add Animal</a>
</footer>
