<h1>ABC's Animal Shelter</h1>
<p>Welcome to our shelter; we have lots of pets that are ready to join your family.</p>

<h3>Our Animals</h3>

<dt>
	<% @animals.each do |animal| %>
		<dl><a href ="/animals/<%= animal.id %>"><%= animal.name %></dl>
	<% end %>
</dt>

<p>Come visit us today!</p>

