<h1><a href ="/animals"> ABC's Animal Shelter</a> </h1>

<h2><%= @animal.name %></h2>
<h4>Animal type: <%= @animal.species %></h4>
<h4>Age: <%= @animal.age %></h4>
<p><strong>About this animal:</strong></p>
<p> <%= @animal.info%> </p>