footer 
	height: 5em
	width: 100%
	position: fixed
	bottom: 0

.btn-default
	background-color: #7E7F82
	color: white

#home
	background-image: image-url("zeus_3.jpg")
	background-size: 60%
	background-repeat: no-repeat
	background-attachment: fixed
	background-position: top right	
	min-height: 100%
	height: auto


#new-animal
	background-image: image-url("grass.jpg")
	background-repeat: repeat-x
	position: fixed
	bottom: 0
	left: 0

#show
	background-image: image-url("zeus_2.jpg")
	background-size: 60%
	background-height: 100%
	background-repeat: no-repeat
	background-position: right top

#trait-picture
	background-image: image-url("zeus_1.jpg")
	background-size: 100%
	background-repeat: no-repeat


	


